/* Categories

   The aim is to use the same accordion layout as the front-end, but clicking a heading expands the accordion yet each heading also needs an edit link.

   display: flex places the edit link after the heading
   width: 0 allows the heading to take up the full 100% width of the flex container,
   but the div inside still shows its full width because it has overflow: visible. 
   position: relative displays it on top of the heading
*/
.category { display: flex; align-items: center; }
.category > :first-child { width: 100%; }
.category .actions {width: 0; overflow: visible; position: relative; left: -6em; }
.category .actions > div { width: 6em; }
.category .actions a:first-child { margin-right: 18px;}

.accordion ul {margin: 0;}
.accordion li { padding-left: .4375em; border-bottom: 1px solid #ccc; }

/* Create/edit forms */
label + .form-help { margin: 0; font-size: .85em; }
.service-form input[type=number].sort { width: 2.5em; }

/* Edit provider */
template { display: none; } /* IE */

.edit-categories {margin-left: 0; list-style-type: none; border-top: 1px solid #ccc;}
.edit-categories > li { display: flex; align-items: center; border-bottom: 1px solid #ccc;}
.edit-categories > li > p { flex-grow: 1;}
.edit-categories > li input[type=text] { width: 3em;}
.edit-categories .button.remove-category, form .add-category-section .button.add-category { margin-bottom: 0; }

.photo {float:right; margin-top: 1em; }
.checkbox input[type=checkbox] { top: 0; }

/* Other pages */
.button {cursor:pointer;}

.text-content .service-form input.input-validation-error { border: 1px solid #b21313; }