@model Escc.SupportWithConfidence.Admin.Models.ProvidersViewModel
@{
    Model.Metadata.Title = "Manage providers";
}
<div class="full-page">
    <div class="content text-content">
        <h1>@Model.Metadata.Title</h1>

        @{ Html.RenderPartial("~/Views/PagingBarControl.ascx", Model.PagingController); }

        @foreach (var provider in Model.Providers)
        {
            @Html.Raw(provider.View())
        }

        @{ Html.RenderPartial("~/Views/PagingBarControl.ascx", Model.PagingController); }
    </div>
</div>