<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="EsccWebTeam.DatabaseFileControls">
      <section name="ImageSettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
    <sectionGroup name="EsccWebTeam.Egms">
      <section name="EgmsWebMetadata" type="EsccWebTeam.Egms.EgmsWebMetadataSectionHandler,EsccWebTeam.Egms, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f" requirePermission="false" />
      <section name="CssFiles" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="ScriptFiles" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
    <sectionGroup name="elmah">
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorPost" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="SupportwithConfidenceUser" connectionString="" />
    <add name="SupportwithConfidenceAdmin" connectionString="" />
  </connectionStrings>
  <appSettings>
    <add key="CategoryResultPage" value="Results.aspx" />
  </appSettings>
  <EsccWebTeam.DatabaseFileControls>
    <ImageSettings>
      <add key="ImageHandlerUrl" value="/socialcare/adults/careservices/supportwithconfidence/Imagehandler.ashx?imageid={0}" />
    </ImageSettings>
  </EsccWebTeam.DatabaseFileControls>
  <EsccWebTeam.Egms>
    <CssFiles>
      <add key="Search" value="/wres/css/search.css" />
    </CssFiles>
    <ScriptFiles>
      <add key="Category" value="Scripts/CategoryShowHide.js" />
    </ScriptFiles>
  </EsccWebTeam.Egms>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Windows" />
     <pages masterPageFile="~/masterpages/mobile.master" enableSessionState="true" enableViewState="true" enableViewStateMac="true" validateRequest="false" clientIDMode="AutoID">
      <controls>
        <!-- Add controls which are declared at root of site, repeated here in dev only for Visual Studio intellisense-->
        <add tagPrefix="Cms" namespace="Microsoft.ContentManagement.WebControls" assembly="Microsoft.ContentManagement.WebControls" />
        <add tagPrefix="CmsPlaceholders" namespace="EsccWebTeam.Cms.Placeholders" assembly="EsccWebTeam.Cms, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f" />
        <add tagPrefix="CmsWebAuthor" tagName="Console" src="~/EsccWebTeam.Cms.WebAuthor/console/defaultconsole.ascx" />
        <add tagPrefix="EastSussexGovUK" namespace="EsccWebTeam.EastSussexGovUK" assembly="EsccWebTeam.EastSussexGovUK, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f" />
        <add tagPrefix="Egms" namespace="EsccWebTeam.Egms" assembly="EsccWebTeam.Egms, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f" />
        <add tagPrefix="NavigationControls" namespace="EsccWebTeam.NavigationControls" assembly="EsccWebTeam.NavigationControls, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f" />
        <add tagPrefix="Validators" namespace="eastsussexgovuk.webservices.FormControls.Validators" assembly="EsccWebTeam.FormControls, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f" />
      </controls>
    </pages>
    <identity impersonate="false" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="Elmah" verb="POST,GET,HEAD" path="elmah.axd" preCondition="integratedMode" type="Elmah.ErrorLogPageFactory, Elmah" />
      <add verb="GET" path="*.cssx" name="CssHandler" type="EsccWebTeam.Egms.CombineStaticFilesHandler,EsccWebTeam.Egms, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f" />
      <add verb="GET" path="*.jsx" name="JsHandler" type="EsccWebTeam.Egms.CombineStaticFilesHandler,EsccWebTeam.Egms, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f" />
    </handlers>
    <defaultDocument>
      <files>
        <add value="search.aspx" />
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorPost" type="ElmahR.Elmah.ErrorPostModule, ElmahR.Elmah" />
    </modules>
  </system.webServer>
  <elmah>
    <errorLog type="Elmah.MemoryErrorLog, Elmah" />
    <errorPost targetUrl="" sourceId="1" secret="" />
  </elmah>
</configuration>