<div class="supporting related-links text-content content-small content-medium">
    <h2>Related pages</h2>
    <ul>
        <li><a href="https://www.eastsussex.gov.uk/socialcare/support-to-stay-at-home/help-at-home-you-can-trust/">About Support With Confidence</a></li>
        <li><a href="https://www.eastsussex.gov.uk/business/tradingstandards/approved-traders/">Other approved traders &#8211; the Checkatrade scheme</a></li>
        <li><a href="https://www.eastsussex.gov.uk/socialcare/getting-help-from-us/">Getting help with adult social care</a></li>
    </ul>
</div>
