.formBox h2 { color: #000; }
 ul#navigation li{position:relative;}
.expand {position:absolute; top:0; left:250px;}
.collapse{position:absolute; top:0; left:250px;}

#showall {position:relative; top:-18px; left:160px;}
.button {cursor:pointer;}



.photo {position:absolute; top: 140px; left:440px;}


dl.itemDetail dt  {width:32% !important; border:solid #fff 1px;}

dl.itemDetail dd ul { margin-left:4em; }
dl.itemDetail dd ul li { margin:0; padding:0;}

html body dl.itemDetail dd {
text-indent:0em !important;

}