@model Escc.SupportWithConfidence.Admin.Models.SupportWithConfidenceViewModel
@{
    Model.Metadata.Title = "Manage Support With Confidence";
}
<div class="full-page">
    <div class="content text-content">
        <h1>@Model.Metadata.Title</h1>
        <ul>
            <li>@Html.ActionLink("Manage accreditations", "Index", "Accreditations")</li>
            <li>@Html.ActionLink("Manage categories", "Index", "Categories")</li>
            <li><a href="providers.aspx">Manage providers</a></li>
        </ul>
    </div>
</div>