@model Escc.SupportWithConfidence.Admin.Models.SupportWithConfidenceViewModel
@{
    Model.Metadata.Title = "Manage Support with Confidence";
    Model.Metadata.IpsvPreferredTerms = "Trading standards; Consumer protection; Carer support; Health and social care professionals; Care for the disabled; Home care; Care for the elderly; Day care; Care plans";
    Model.Metadata.LgilType = "Applications for service";
    Model.Metadata.LgtlType = "Forms";
    Model.Metadata.DateIssued = "2004-11-20";
    Model.Metadata.Keywords = "vetted; approved; home care; care services; Support with confidence";
    Model.Metadata.Description = "Find providers which are approved members of the Support with Confidence scheme in East Sussex";
}
<div class="full-page">
    <div class="content text-content">
        <h1>Manage Support with Confidence</h1>
        <ul>
            <li><a href="categories.aspx">Manage categories</a></li>
            <li><a href="providers.aspx">Update a provider's information</a></li>
        </ul>
    </div>
</div>