@model Escc.SupportWithConfidence.Admin.Models.SupportWithConfidenceViewModel
@{
    Model.Metadata.Title = "Manage Support with Confidence";
}
<div class="full-page">
    <div class="content text-content">
        <h1>Manage Support with Confidence</h1>
        <ul>
            <li>@Html.ActionLink("Manage accreditations", "Index", "Accreditations")</li>
            <li><a href="categories.aspx">Manage categories</a></li>
            <li><a href="providers.aspx">Manage providers</a></li>
        </ul>
    </div>
</div>