<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <sectionGroup name="EsccWebTeam.DatabaseFileControls">
      <section name="ImageSettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
    <sectionGroup name="Escc.Web.Metadata">
      <section name="EgmsWebMetadata" type="Escc.Web.Metadata.EgmsWebMetadataSectionHandler, Escc.Web.Metadata, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f" />
    </sectionGroup>
    <sectionGroup name="Escc.ClientDependencyFramework">
      <section name="CssFiles" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="MediaQueries" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="ScriptFiles" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
    <sectionGroup name="Escc.EastSussexGovUK">
      <section name="BreadcrumbTrail" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="GeneralSettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="RemoteMasterPage" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="CategoryResultPage" value="EditCategory.aspx" />
    <add key="ProjectName" value="supportwithconfidence/" />
  </appSettings>
  <connectionStrings>
    <add name="SupportwithConfidenceUser" connectionString=""></add>
    <add name="SupportwithConfidenceAdmin" connectionString=""></add>

  </connectionStrings>
  <EsccWebTeam.DatabaseFileControls>
    <ImageSettings>
      <add key="ImageHandlerUrl" value="/{0}/Imagehandler.ashx?imageid={1}" />

    </ImageSettings>
  </EsccWebTeam.DatabaseFileControls>

  <Escc.EastSussexGovUK>
    <BreadcrumbTrail>
      <add key="Home" value="https://www.eastsussex.gov.uk/" />
      <add key="Manage Support With Confidence" value="/providers.aspx" />
    </BreadcrumbTrail>
    <GeneralSettings>
      <add key="DesktopMasterPage" value="~/desktop.master" />
      <add key="PlainMasterPage" value="~/plain.master" />
      <add key="MasterPageParameterName" value="template" />
    </GeneralSettings>
    <RemoteMasterPage>
      <add key="CacheMinutes" value="60" />
      <add key="MasterPageControlUrl" value="https://www.eastsussex.gov.uk/masterpages/remote/control.aspx?control={0}" />
    </RemoteMasterPage>
  </Escc.EastSussexGovUK>

  <Escc.Web.Metadata>
    <EgmsWebMetadata errorMode="Off" />
  </Escc.Web.Metadata>
  
  <system.web>
    <compilation targetFramework="4.5.2" />
    <authentication mode="Windows" />
    <pages masterPageFile="~/desktop.master" enableSessionState="true" enableViewState="true" enableViewStateMac="true" validateRequest="false" controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="ClientDependency" namespace="Escc.ClientDependencyFramework.WebForms" assembly="Escc.ClientDependencyFramework.WebForms" />
        <add tagPrefix="Metadata" namespace="Escc.Web.Metadata" assembly="Escc.Web.Metadata" />
        <add tagPrefix="EastSussexGovUK" namespace="Escc.EastSussexGovUK.WebForms" assembly="Escc.EastSussexGovUK.WebForms" />
      </controls>
      <namespaces>
        <remove namespace="ClientDependency.Core.Mvc" />
      </namespaces>
    </pages>
    <authorization>
      <allow roles="" />
      <deny users="*" />
    </authorization>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="providers.aspx" />
      </files>
    </defaultDocument>
    <modules>
      <remove name="ClientDependencyModule" />
      <add name="ClientDependencyModule" type="ClientDependency.Core.Module.ClientDependencyModule, ClientDependency.Core" />
      <remove name="ContentSecurityPolicy" />
      <add name="ContentSecurityPolicy" type="Escc.Web.ContentSecurityPolicyModule" />
      <remove name="MasterPageModule" />
      <add name="MasterPageModule" type="Escc.EastSussexGovUK.WebForms.MasterPageModule" />
      <remove name="ExceptionlessModule" />
      <add name="ExceptionlessModule" type="Exceptionless.Web.ExceptionlessModule, Exceptionless.Web" />
    </modules>
  </system.webServer>
</configuration>
